<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>BonjourServlet</servlet-name>
        <servlet-class>com.octest.servlets.BonjourServlet</servlet-class>
        <multipart-config>
            <location>/home/joel/dataInfo/java/jakarta_ee/others/files_tmp</location> <!-- A adapter chez vous -->
            <max-file-size>10485760</max-file-size> <!-- 10 Mo -->
            <max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
            <file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>BonjourServlet</servlet-name>
        <url-pattern>/bonjour</url-pattern>
    </servlet-mapping>

    <!--Tag ligs-->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>